# Compiled class files
*.class

# Log files
*.log

# Package / Archive Files
*.jar
*.war
*.nar
*.ear

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# IntelliJ IDEA workspace & project files
.idea/
*.iml
*.iws
*.ipr
out/
bin/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db
